.App-header {
  padding: 20px;
  color: #222;
  text-align: center;
}
.jobList {
  width: 49%;
  float: left;
  border: solid 1px;
}
.renderFrame {
  width: 50%;
  float: right;
  border: solid 1px;
}
